# Database configuration
POSTGRES_USER="fastapi"
POSTGRES_PASSWORD="fastapi"
POSTGRES_DB="microshop_auth"

# Application configuration
SECRET_KEY="f1b5edcb07f7349ca571cace56d3a2753c7e71be2b6d267d0a9140b587ecbaed" # Can be generated using `openssl rand -hex 32`
DATABASE_URL="postgresql+psycopg://fastapi:fastapi@db:5432/microshop_auth" # In format "postgresql+psycopg://{user}:{password}@{host}:{port}/{db}"